In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('fer2013.csv')

In [3]:
df['pixels']=df['pixels'].apply(lambda x:x.split())

In [4]:
df.head()

   emotion                                             pixels     Usage
0        0  [70, 80, 82, 72, 58, 58, 60, 63, 54, 58, 60, 4...  Training
1        0  [151, 150, 147, 155, 148, 133, 111, 140, 170, ...  Training
2        2  [231, 212, 156, 164, 174, 138, 161, 173, 182, ...  Training
3        4  [24, 32, 36, 30, 32, 23, 19, 20, 30, 41, 21, 2...  Training
4        6  [4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 15, 23...  Training

In [8]:
for i in range(2304):
    r=[]
    for j in range(35887):
        r.append(df['pixels'][j][i])
    df[f'{i}']=pd.DataFrame(r)

In [13]:
df.drop('pixels',axis=1,inplace=True)

In [15]:
df.to_csv('FER')

In [7]:
df['Usage'].unique()

array(['Training', 'PublicTest', 'PrivateTest'], dtype=object)

In [10]:
train=df[df['Usage']=='Training'].drop('Usage',axis=1)

In [11]:
train.head()

   emotion                                             pixels
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1        0  151 150 147 155 148 133 111 140 170 174 182 15...
2        2  231 212 156 164 174 138 161 173 182 200 106 38...
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...